<configuration scan="true">
	<property scope="local" name="app.context.name" value="corestandards" />
	<property scope="local" name="app.base.package.name" value="org.air.standard" />
	<property scope="local" name="app.base.package.name" value="org.air.shared" />
	<property scope="local" name="mna.appender.active" value="true" />
	<include resource="logback-included-common-config.xml" />
</configuration>
